{% extends "base.html" %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<style>
  
</style>

<h2>Produtos Disponíveis</h2>
<ul>
  {% for produto in PRODUTOS_DISPONIVEIS_LISTA %}
    <li>
      <div class="produto-item">
        
        <a href="{% url 'detalhe_produto' produto.id %}">{{ produto.nome }}</a>
      </div>
      <span class="produto-preco">R$ {{ produto.preco }}</span>
    </li>
  {% empty %}
    <li>Não há produtos disponíveis no momento.</li>
  {% endfor %}
</ul>
{% endblock %}